body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%) fixed;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  color: rgb(146, 146, 146);
  padding: 40px 0px 0px 0px;
  font-size: 13px;
  text-align: center;
}
